@font-face{
  font-family: tieude;
  src: url("/public/font/Poppins-BoldItalic.ttf");
}
@font-face{
    font-family: logo;
    src: url("/public/font/Satisfy-Regular.ttf");
}
*{
    margin: 0 ;padding: 0;
    box-sizing: border-box !important;
    list-style: none;
}
/* phần header--menu+search+user */
header{
    width: 100%;
    background-color:rgba(26, 24, 22, 0.85);
    padding-top: 10px;
}
.logo{
    font-size: 30px;
    font-family: logo;
    color: #fff;
}
ul.menu{
    list-style: none;
}
ul li{
    list-style: none;
    margin-left: 15px;
}
ul li a{
    color: #fff;
    font-size: 18px;
    font-family: tieude;
}
ul li a:hover{
    color: red;
}
.user .row{
    margin-left: 40px;
}
/* dropdown menu */

.dropdown ul {
    display: block;
    position: absolute;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  
.dropdown ul li {
    min-width: 200px;
  }
  
.dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 400;
    color: #433f39;
  }
  
.dropdown ul a i {
    font-size: 12px;
  }
  
.dropdown ul a:hover,
.dropdown ul .active:hover,
.dropdown ul li:hover>a {
    color: #ffb03b;
  }
  
.dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
  
.dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
.dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
.navbar-toggler{
    color: #fff !important;
}
.navbar-toggler-icon{
    color: #fff !important;
}
/* Search */
.search,.user{
    margin-top: 14px;
}
form input{
    width: 80%;
    height: 30px;
    padding: 10px;
    border-bottom-left-radius:20px;
    border-top-left-radius:20px;
}
form button{
    font-size: 20px;
    width: 20%;
    margin-left: 0;
    margin-top: 1px;
    border:none;
    height: 28px;
    border-bottom-right-radius:20px;
    border-top-right-radius:20px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background-color: rgba(39, 37, 34, 0.8);
    overflow: hidden;
    padding: 0;
  }
  
  #hero .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  #hero .carousel-item::before {
    content: "";
    background-color: rgba(12, 11, 10, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  #hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .carousel-content {
    text-align: center;
  }
  
  #hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
  }
  
  #hero h2 span {
    color: #ffb03b;
  }
  
  #hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
  }
  
  #hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
  }
  
#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
    opacity: 0;
}
  
#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
} 
#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
    left: 0;
    transform: translate3d(0, 0, 0);
}
#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
    background: none;
    font-size: 30px;
    line-height: 0;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8);
}
#hero .carousel-indicators li {
    cursor: pointer;
}
#hero .btn-menu,
#hero .btn-book {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 0 10px;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    color: #fff;
    border: 2px solid #ffb03b;
}
#hero .btn-menu:hover,
#hero .btn-book:hover {
    background: #ffb03b;
    color: #fff;
}
@media (max-width: 768px) {
    #hero h2 {
      font-size: 28px;
    }
}
@media (min-width: 1024px) {
    #hero p {
      width: 50%;
    }
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
      width: 5%;
    }
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  background: #fffaf3;
  padding: 50px 0;
}
.about .content {
  padding: 0 80px;
}
.about .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: #5f5950;
}
.about .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}
.about .content p {
  font-size: 15px;
  color: #848484;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li+li {
  margin-top: 15px;
}
.about .content ul li {
  position: relative;
  padding-left: 26px;
}
.about .content ul i {
  font-size: 20px;
  color: #ffb03b;
  position: absolute;
  left: 0;
  top: 2px;
}
.about .content p:last-child {
  margin-bottom: 0;
}
.about .video-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 400px;
  position: relative;
}
.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#ffb03b 50%, rgba(255, 176, 59, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}
.about .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.about .play-btn::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 176, 59, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}
.about .play-btn:hover::after {
  border-left: 15px solid #ffb03b;
  transform: scale(20);
}
.about .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

/* about page */
.giatri{
  margin-top: 50px;
}
.giatri img{
   width: 100%; 
   height: 100%;
}
.giatri img:hover{
    transform: scale(1.05);
}
.giatri h1{
  text-align: center;
}
.giatri .row{
    margin-top: 50px;
}
.giatri .content{
    margin-top: 100px;
}
.giatri .content h1{
    font-family: logo !important;
}
@media (max-width: 1024px) {

  .about .content,
  .about .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 992px) {
  .about .content {
    padding-top: 30px;
  }

  .about .accordion-list {
    padding-bottom: 30px;
  }
}
@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/* review */
.review{
  text-align: center;
  margin-top: 50px;
}
.review h1{
  font-family: logo !important;
}
.review p{
  font-family: tieude !important;
  font-style: inherit;
  color: #848484;
}
.review img{
  width: 100%;
  height: 80%;
}
.review a{
    font-family: logo !important;
    color: black;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery {
  padding-bottom: 0;
  margin-top: 100px;
  text-align: center;
  font-family: logo !important;
  color: #FFBE4D;
  font-weight: bold;
}

.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
}

.gallery .gallery-item:hover img {
  transform: scale(1.1);
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact{
  margin-top: 50px;
}
.contact .section-title h2{
  font-family: logo !important;
}
.contact .section-title p{
  font-family: tieude !important;
}
.contact .info-wrap {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.contact .info {
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #ffb03b;
  float: left;
  width: 44px;
  height: 44px;
  background: #fff6e8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #433f39;
  font-family: "Poppins", sans-serif !important;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #7a7368;
}

.contact .info:hover i {
  background: #ffb03b;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  padding: 30px;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #ffb03b;
  border: 0;
  height: 50px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #ffa012;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #35322d;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
  margin-top: 50px;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #ffb03b;
  position: relative;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #46423b;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #ffb03b;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

/* menu thực đơn */
.food h1{
  text-align: center;
}
.menu_item .menu_food{
  list-style: none;
}
.menu_item .menu_food li{
  border: solid 1px #FFB03B;
  border-radius: 70px;
  cursor: pointer;
  
}
.menu_item .menu_food li a{
  color: black;
  padding: 10px;
  
}
.menu_item .menu_food li a:hover{
  text-decoration: none;
  color: #fff;
 
}
.menu_item .menu_food li:hover{
  background-color:#FFB03B;
}
/* Css cho sản phẩm */
.products {
  margin-bottom: 20px;
}
.products img{
  width: 100%;
  height: 70%;
}
.products img:hover{
  transform: scale(1.05);
}
.products{
  text-align: center;
}
.products h5{
  color: black;
}
.products p{
  color: red;
}
.products .add{
  width: 70%;
  height: 50px;
  color: black;
  background-color: #ffb03b;
  border-radius: 50px;
  font-size: 18px;
}
.products .add:hover{
  background-color: turquoise;  
  color: #fff;
}

/* Chi tiết sản phẩm */
.chitiet img:hover{
  transform: scale(1.1);
}
.chitiet .content{
  margin-bottom: 50px;
}
.chitiet .content h3{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  margin-bottom: 20px;
  font-size: 35px;
}
.chitiet .content span{
  font-size: 20px;
}
.chitiet .content strong{
  color: red;
  font-size: 25px;
  margin-bottom: 50px;
}
.chitiet .buy{
  margin-top: 100px;
  text-align: center;
}
.chitiet .add{
  padding: 15px;
  color: black;
  background-color: #ffb03b;
  border-radius: 50px;
  font-size: 18px;
}
.chitiet .add:hover{
  background-color: turquoise;  
  color: #fff;
}

/* phân trang */
.list_trang li{
  margin-right: 10px;
}

/* css cho phần đặt hàng */
.bill{
  border: solid 1px gainsboro;
  margin:40px 0;

}
.cart{
  margin:40px 0;
  min-height: 70vh;
}
.bill .title{
  width: 100%;
  background: #E5E7E9;
  font-size: 25px;
  padding: 10px;
}
.bill .table{
  padding: 30px;
}
.bill .table .form_book .col input{
  border-radius: 0;
  border: 1px solid #848484;
  height: 35px;
}
.bill .table .form_book{
  align-items: center !important;
}
.bill .thanhtoan{
  padding: 30px;
  width: 100%;
}
.bill .thanhtoan input{
  height: 15px;
}
button.book a{
  color: #fff;
}
button.book:hover{
  text-decoration: none;
  color: black;
  background-color: #FFB03B;
}
button.book{
  height: 35px;
  width: 15%;
}

/* phần bình luận */
.binhluan{
  margin-top: 100px !important;
  border: solid 1px gainsboro;
  border-radius: 10px;

}
.binhluan .title{
  width: 100%;
  background: #E5E7E9;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
.box_comment{
padding: 20px;
}
.box_comment .box_comment_item{
  width: 95%;
  border: solid 1px #E5E7E9;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.1); 
  border-radius: 30px;
  padding: 10px;
}
.box_comment .comment_content{
  margin-bottom: 0 !important;
}
.box_comment .ngay_comment{
  margin-left: 85%;
  margin-bottom: 0 !important;
}

.binhluan_form{
  width: 100%;
  background: #E5E7E9;
  font-size: 25px;
  padding: 10px ;
  border-radius:0 0 10px 10px;
}
.binhluan_form input{
  width: 70%;
  border: none;
  padding: 10px !important;
  border-radius: 30px;
  height: 35px;
}
.binhluan_form button{
  width: 20%;
  margin-bottom: 10px;
  height: 35px;
}